<div id="appHeaderArea">
    <div id="navContainer">
        	<div class="stack-one" id="stackOne">
				<h2>The story of one of the most complex organisations in the world, told through the voices of those on the frontline.</h2>
						
			</div>
					

				
			<div class="stack-two" id="stackTwo">
				<h1 id="appHeadline">
					this is
				</h1>
			</div>	
				
			<div class="stack-three" id="stackThree">
				<h1 id="appHeadlineStackEven">
					the NHS
				</h1>
			</div>	

    </div>
</div>

<!-- <h2>Join us and <span id="petitionCount">{{#if petitionAmount}} more than {{petitionAmount}} others{{else}}thousands of others{{/if}}</span> in urging the world's two biggest charitable funds to move their money out of fossil fuels</h2> -->