<div class="this-is-the-nhs__header">
    <p class="this-is-the-nhs__standfirst this-is-the-nhs__bar">The story of one of the most complex organisations in the world, told through the voices of those on the frontline.</p>
    <h1 class="this-is-the-nhs__title">
        <span class="this-is-the-nhs__line this-is-the-nhs__line--one this-is-the-nhs__bar">this is</span>
        <span class="this-is-the-nhs__line this-is-the-nhs__line--two this-is-the-nhs__bar">the NHS</span>
    </h1>
    <div class="this-is-the-nhs__sign-up this-is-the-nhs__sign-up--top">
        <!-- Sign up field -->
        <div class="this-is-the-nhs__arrow this-is-the-nhs__bar">
            <h2 class="this-is-the-nhs__sign-up__title">Sign up to our weekly email</h2>
            <p class="this-is-the-nhs__sign-up__description">Unsubscribe in one click</p>
        </div>
    </div>
</div>
