{{#with petition[0]}}


	<section class="chapter" id="petition">
	
		
		
		<div class="wrapper" id="petitionContainer">



			<!-- <h2 class="chapterHeading">{{headline}}</h2> -->
			<div class="chapterContent" id="mainContent">
				
				<div id="petitionForm">
		
							<iframe src="https://www.theguardian.com/email/form/article/3573" height="228px" data-form-title="Sign up for our NHS email" data-form-description="Whether you have a passing interest in the subject or a fascination, have personal experience, or the experience of a family member or loved one, or are a professional, please join in." data-form-campaign-code="NHS_signup_iframe" scrolling="no" seamless="" frameborder="0" class="iframed--overflow-hidden email-sub__iframe js-email-sub__iframe js-email-sub__iframe--article" class="max-col-w"></iframe>
					
					</div>


				<div id="infoForm">
					<div id="standfirst" class="m-col-large">
						{{#each text}}
						<p>{{{this}}}</p>
						{{/each}}
						<!-- <p id="petitionDisclaimer">{{note}}</p> -->
						
					</div>
					
					
					<div id="petitionShare">
						<p>Help us by spreading the word</p>
						<shareContainer media="['facebook','twitter','mail']"/>
					</div>
				</div>
			</div>
		</div>
	</section>
{{/with}}