<section class="chapter" id="updates">
	<div class="wrapper">	
		<h2 class="chapterHeading ">Latest on the campaign</h2>
		<div class="chapterContent">
			<div id="updateArticles" class="m-col-large">
				{{#updates}}
					<div class="articleBlock">
						<div class="articleContainer">
							<div class="articleImage">
								<img src="{{img}}" alt="{{headline}}"/>
							</div>
							<div class="articleText">
								<p>{{headline}}</p>
							</div>
						</div>
						<a href="{{url}}" class="articleLayover"></a>
					</div>
				{{/updates}}
			</div>
			<a href="http://www.theguardian.com/environment/keep-it-in-the-ground-blog" class="externalLink" id="updateExternal">More on the campaign</a>
		</div>
			<!-- <h2 class="chapterHeading">More information</h2>
			<p class="moreInfo">{{info[0].text}}</p>
			<ul>
			{{#info:i}}
				{{#if i>0}}
				<li class="moreInfo">{{text}}</li>
				{{/if}}
			{{/info}}
			</ul> -->
		</div>
	</div>
</section>