#backtohome{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  vertical-align:top;
}
#backtohome span{
  display:inline-block;
  padding-top:17px;
}
#appHeaderArea{
  height:260px;
  background:rgba(87,195,188,0.85);
  width:100%;
  // @media(min-width:740px){
  // 	height:260px;
  // }
}
.contentBlock{
  margin:0 10px;
  max-width:1300px;
}

#navContainer{
  height:100%;
  padding-top:12px;
  background:url('@@assetPath@@/imgs/headerBGhands.jpg') no-repeat right;
}

#navContainer:after{
  clear:both;
  content:'';
  display:block;
}

#guardianLogo{
  width:170px;
  float:right;
  margin-top:10px;
  display:inline-block;
}

#homeLogo{
  width:15px;
  height:18px;
  margin-top:14px;
  display:inline-block;
  margin-right:7px;
  vertical-align:top;
}

.stack-shim{
		display:inline;
		width:300px;
	}
	.slice-title-holder{
		display:inline;
	} 



.stack-one{
	margin-left:0;

	@media(min-width:740px){
			padding:0; 
		}	
	@media(min-width:1140px){
		margin-left:160px;
	}
	@media(min-width:1300px){
		margin-left:240px;
	}

	h2{
		
		width:280px; 
		color:white; 
		font-size:0.9em; 
		line-height:1.125em; 
		height:60px;
		@media(min-width:480px){
			width:320px; 
			font-size:1em; 
		}
		
	}
}

.stack-two{
	position:absolute;
	top: 84px;
	left:0px;

}

.stack-three{
	margin-top:82px;
	margin-left:10px;

		@media(min-width:740px){
				margin-top:82px;
				margin-left:20px;
	}
}





#appHeadline, #appHeadlineStackEven{
	padding:3px 10px;
	margin: 0;
	width:220px;	
	font-size:3em;
	line-height: 1.1em;
	font-weight:100;
	line-height:1em;
	background: #005689;
	color: #FFF;
	height:54px;
	
		@media(min-width:480px){
			padding:5px 20px 1px;
			width:260px;
			margin: 0;
			height:54px;
			font-size:3em;
			line-height:1em;
		}

	
}

#appHeadline{
	@media(min-width:740px){

		padding:3px 10px 3px 20px;
	}


	@media(min-width:1140px){
		  padding: 3px 20px 3px 20px;
    		width: 260px;
	}
	@media(min-width:1140px){
			padding:3px 10px 3px 0;
			width:240px;
	}
}


#appHeadlineStackEven{
	width:210px;
	margin: 12px 0 0 0;
	@media(min-width:740px){
		width:240px;
		margin: 12px 0 0 0;
		padding-left:30px;
	}
}





#appHeadlineStackEven{
	
	background: #FFF;
	color:#000;
	text-align:left;

	margin-left:-10px !important;

	@media(min-width:740px){
		margin-left:-20px !important;
	}



	@media(min-width:1140px){
		margin-left:140px !important;
	}

	@media(min-width:1300px){
		margin-left:220px !important;
	}

	
}




